<div class="box box-primary">
  <div class="box-header with-border">
    <h3 class="box-title">Novo Document</h3>
  </div>
  <div class="box-body">
		<%= render 'form' %>
	</div>
</div>
<%= link_to 'Voltar', documents_path, class: "btn btn-primary" %>
