<div class="box box-primary">
  <div class="box-header with-border">
    <h3 class="box-title">Novo Usuário</h3>
  </div>
  <div class="box-body">
  	<%= render 'form' %>
  </div>
</div>
<%= link_to 'Show', @plan %> |
<%= link_to 'Back', plans_path %>
